<p id="notice"><%= notice %></p>

<p>
  <strong>Gtm strategy:</strong>
  <%= @market_segmentation.gtm_strategy %>
</p>

<%= link_to 'Edit', edit_market_segmentation_path(@market_segmentation) %> |
<%= link_to 'Back', market_segmentations_path %>
