<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @gtm_strategy.user %>
</p>

<%= link_to 'Edit', edit_gtm_strategy_path(@gtm_strategy) %> |
<%= link_to 'Back', gtm_strategies_path %>
